<DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for("static", filename= "style.css")}}" >
    <title>Video Generator</title>
  </head>
  <body>
    <img src="/static/logo.jpg" alt="Logo" />
    <div class="boxcontainer">
    </div>
      <div class="textcontainer">
        <p>Choose A Theme!</p>
      </div>
      <div class="buttoncontainer">
        <input type="button" id="sadButton" value="Sad Theme"/>
        <input type="button" id="happyButton" value="Happy Theme" />
    </div>
  </body>
</html>
