body{
  position: relative;
  padding: 0;
}

img {
  width: 100%;
  height: 90px;
  
}

.title {
  text-align: center;
}

#sadButton {
  position: absolute;
  top: 148px;
  width:100%;
  height: 60px;
  font-size: 15px;
  background-image: url('/static/sadButton.jpg');
  background-size: 100%, 100%;
  border-color: green;
  border-radius: 10px;
  animation-name: sad;
  animation-duration: 1.1s;
  color: rgba(0, 0, 0, 0);
}

@keyframes sad {
  0% {
    left:-100%;
    opacity: 0;
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    left:0%;
    opacity: 1;
  }
}

#sadButton:hover {
  color: white;
  font-weight: 900;
}

#happyButton {
  position: absolute;
  top: 220px;
  width:100%;
  height: 60px;
  font-size: 15px;
  background-image: url('/static/happyButton.jpg');
  background-size: 100%, 100%;
  border-color: green;
  border-radius: 10px;
  animation-name: happy;
  animation-duration: 1.3s;
  color: rgba(0,0,0,0)
}

@keyframes happy {
  0% {
    left: -200%;
    opacity: 0;
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

#happyButton:hover {
  color: white;
  font-weight: 900;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img {
    height: 90px;
  }
  .title {
    text-align:center;
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img {
    height: 200px;
  }
  .title {
    text-align: center;
    font-size: 45px;
  }
  #sadButton {
    width: 49%;
    height: 300px;
    animation-name: sadButton;
    position: absolute;
    top: 330px;
    font-size: 40;
    animation-duration: 1.2s;
  }
  
  @keyframes sadButton {
    0% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
  }
  
  #happyButton {
    width:49%;
    height: 300px;
    animation-name: happyButton;
    position: absolute;
    top: 330px;
    left: 51%;
    font-size: 40;
    animation-duration: 1s;
    animation-delay: 0s;
  }
  
  @keyframes happyButton {
    0% {
      left: -200;
    }
    100% {
      left: 51%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img {
    height: 250px;
  }
  
}
