body {
  padding: 0px;
  margin: 0px;
  position: relative;
  background: url('/static/bg1.jpeg');
  background-size: 100%, 100%;
  filter: brightness(80%);
}

img {
  position: absolute;
  width: 100%;
  height: 70px;
  
}

.boxcontainer {
  position: absolute;
  display: flex;
  width:250px;
  height: 350px;
  opacity: 0.3;
  background-color: white;
  top: 120px;
  left: 50px;
  animation: box;
  animation-duration: 1s;
}

@keyframes box {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.3;
  }
}


p {
  position: absolute;
  font-size: 25px;
  left: 70px;
  top: 115px;
  color: white;
}

.buttoncontainer {
  opacity: 0.9;
}

#sadButton {
  position: absolute;
  width: 60%;
  height: 40px;
  left: 18.5%;
  top: 190px;
  border-radius: 10px;
  outline: none;
  background: url("/static/sadButton.jpg");
  background-position: 80%, 50%;
  font-size: 20px;
  animation-name: sad;
  animation-duration: 1s;
  color: rgba(0,0,0,0);
}

@keyframes sad {
  0% {
    left: -100%;
  }
  100% {
    left: 18.5%;
    
  }
}

#sadButton:hover {
  color: rgba(0,0,0,1);
}

#happyButton {
  position: absolute;
  width: 60%;
  height: 40px;
  left: 18.5%;
  top: 240px;
  border-radius: 10px;
  outline: none;
  background: url("/static/happyButton.jpg");
  background-position: 100%, 100%;
  font-size: 20px;
  animation-name: happy;
  animation-duration: 1.3s;
  color: rgba(0,0,0,0);
}

@keyframes happy {
  0% {
    left: -100%;
  }
  100% {
    left: 18.5%;
  }
}

#happyButton:hover {
  color: rgba(0,0,0,1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img {
    position: absolute;
    width: 100%;
    height: 70px;
  }

  .boxcontainer {
    position: absolute;
    display: flex;
    width:250px;
    height: 350px;
    opacity: 0.3;
    background-color: white;
    top: 120px;
    left: 50px;
    animation: box;
    animation-duration: 1s;
  }

  @keyframes box {
    from{
      opacity: 0;
    }
    to{
      opacity: 0.3;
    }
  }


  p {
    position: absolute;
    font-size: 25px;
    left: 70px;
    top: 115px;
    color: white;
  }

  .buttoncontainer {
    opacity: 0.9;
  }

  #sadButton {
    position: absolute;
    width: 60%;
    height: 40px;
    left: 18.5%;
    top: 190px;
    border-radius: 10px;
    outline: none;
    background: url("/static/sadButton.jpg");
    background-position: 80%, 50%;
    font-size: 20px;
    animation-name: sad;
    animation-duration: 1s;
    color: rgba(0,0,0,0);
  }

  @keyframes sad {
    0% {
      left: -100%;
    }
    100% {
      left: 18.5%;
    
    }
  }

  #sadButton:hover {
    color: rgba(0,0,0,1);
  }

  #happyButton {
    position: absolute;
    width: 60%;
    height: 40px;
    left: 18.5%;
    top: 240px;
    border-radius: 10px;
    outline: none;
    background: url("/static/happyButton.jpg");
    background-position: 100%, 100%;
    font-size: 20px;
    animation-name: happy;
    animation-duration: 1.3s;
    color: rgba(0,0,0,0);
  }

  @keyframes happy {
    0% {
      left: -100%;
    }
    100% {
      left: 18.5%;
    }
  }

  #happyButton:hover {
    color: rgba(0,0,0,1);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img {
    height: 180px;
  }
  .boxcontainer {
    width: 600px;
    left: 176px;
    top:370px;
    height: 900px;
  }
  p {
    left: 219px;
    font-size: 61px;
    top: 350px;
  }
  #sadButton {
    width: 250px;
    height: 200px;
    left: 215px;
    top: 520px;
    font-size: 35px;
    background-position: 50%, 50%;
  }
  
  @keyframes sad {
    0% {
      left: -100%;
    }
    100% {
      left: 215px;
    }
  }
  
  #happyButton {
    width: 250px;
    height: 200px;
    left: 486px;
    top: 520px;
    animation-duration: 1.5s;
    font-size: 35px;
  }
  
  @keyframes happy {
    0% {
      left:-100%;
    }
    100% {
      left: 486px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
}
