body {
  position: relative;
  background: url("/static/images.jpeg");
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: bgChange;
  animation-duration: 0.5s;
  animation-play-state: paused;
}

@keyframes bgchange {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.box {
  position: absolute;
  width: 60%;
  height: 70%;
  left: 20%;
  top: 20%;  
  box-shadow: 10px 10px 8px #23F249;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  margin-top: 150px;
  animation-name: title;
  animation-duration: 1.5s;
  
}

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gstart {
  position: relative;
  font-size: 40px;
  width: 50%;
  height: 15%;
  margin-left: 25%;
  outline: none;
  margin-top: 200px;
	background: none;
	border: 4px solid #000000;
	transition-property: all;
	transition-duration: .5s;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
  
.gstart:hover {
  margin-left: 20%;
  width: 60%;
  height: 20%;
}
  
.head {
  color: whitesmoke;
  font-size: 90px;
  padding-left: 30px;
  padding-top: 50px;
  opacity: 0;
  animation-name: headtitle;
  animation-duration: 1s;
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes headtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttoncontainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 15%;
}

.sad {
  position: absolute;
  width: 40% ;
  height: 100%;
  margin-left: 8%;
  opacity: 0;
  background: none;
  font-size: 40px;
  border: 4px solid;
  cursor: pointer;
  animation-name: sad;
  animation-duration: 0.5s;
  animation-play-state: paused;
  outline: none;
  transition: all 0.5s;
  -webkit-tap-highlight-color: transparent;
}

input.sad:hover {
  width: 45%;
  height: 105%;
  margin-left: 4%
  
}

@keyframes sad {
  0% {
    margin-left: -100%
  }
  100% {
    margin-left: 8%;
  }
}

.happy {
  position: absolute;
  width: 40%;
  height: 100%;
  margin-left: 52%;
  opacity: 0;
  background: none;
  font-size: 40px;
  border: 4px solid;
  cursor: pointer;
  animation-name: happy;
  animation-duration: 0.75s;
  animation-play-state: paused;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@keyframes happy {
  0% {
    margin-left: -100%
  }
  100% {
    margin-left: 52%;
  }
}
